<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/generateDocument.css">

</head>

<body>
    <div class="container">
        <div class=" pt-5 pb-5 ps-4">
            <div class=" text-center">
                <div class="">
                    <h5 class="text-primary"> PROPOSTA DE COMPRA E VENDA </h5>
                </div>

                <table class="table text-start" id="clientDataTable">
                    <tr>
                        <td>CLIENTE:</td>
                        <td id="name"></td>
                        <td>N°:</td>
                        <td id="houseNumber"></td>
                    </tr>

                    <tr>
                        <td>ENDEREÇO:</td>
                        <td id="address"></td>
                        <td>CEP:</td>
                        <td id="cep"></td>
                    </tr>

                    <tr>
                        <td>CIDADE:</td>
                        <td id="city"></td>
                        <td>BAIRRO:</td>
                        <td id="district"></td>
                    </tr>

                    <tr>
                        <td>TELEFONE:</td>
                        <td id="tel"></td>
                        <td> E-MAIL:</td>
                        <td id="email"></td>
                    </tr>
            </div>
        </div>

        <div class="position-absolute end-0 top-0"><img src="../images/Brix_logo.jpeg" id="logoImg"></div>
    </div>

    <div class="container">
        <table class="table table-bordered" id="itemsTable">
            <thead>
                <th>Código</th>
                <th>Descrição</th>
                <th>Quantidade</th>
                <th>Preço Un.</th>
                <th>Serviço</th>
                <th>Preço Total</th>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div class="pt-3 pb-5">
        <div><b>FORMA DE PAGAMENTO: </b></div>
        <div><b>VALIDADE DA PROPOSTA: </b></div>
    </div>

    <div>
        <h5 class="text-center text-primary pb-3">CONDIÇÕES COMERCIAIS:</h5>
        <ol class="ps-3">
            <li>Formas de Pagamento: A vista 5% de desconto ou 4x no cartão de crédito;</li>
            <li>Prazo de Entrega: 10 (Dez) Dias úteis a contar do aceite da proposta;</li>
            <li>Frete: Entregue no cliente</li>
            <li>Garantia do produto: 12 (doze) meses</li>
        </ol>

        <div class="danger-message">Equipamento entregue em nosso balcão.</d>
        </div>

        <div class="p-4">
            As garantias seguem as especificações do fabricante, desde que observadas às condições de trabalho e
            operação
            constantes nos manuais dos mesmos.
        </div>

        <div>
            <h5 class="text-primary text-center pb-4">
                INSTALAÇÃO, CONFIGURAÇÃO E TREINAMENTO:
            </h5>

            <ul>
                <li>Instalação e configuração bem como todas as despesas de deslocamento e alimentação fica por
                    conta da contratada.</li>
                <li>Treinamentos e configuração no celular do cliente.</li>
                <li>A estabilidade elétrica de extrema importância para um bom funcionamento dos equipamentos e
                    sistema é total responsabilidade do cliente, portanto indicamos o uso de aterramento e
                    equipamentos auxiliares como: no-break, estabilizadores ou módulos isoladores.</li>
            </ul>
        </div>

        <div class="danger-message p-3">
            ATENDIMENTO DE VISITA TÉCNICA com custo adicional <u>após 90 dias</u> da instalação. ATEDIMENTO REMOTO
            OU
            TELEFÔNICO
            sem custo adicional, podendo o mesmo ser agendado.
        </div>

        <div class="pt-3">Estando justo e acerto, firmo em presente via.</div>

        <div class="text-end pt-4"> <b> Juazeiro do Norte, <span class="date-element" id="day"></span> de <span class="date-element" id="month"></span> de <span class="date-element" id="year"></span></div></b>
        <div class="pt-3">Atenciosamente,</div>

        <div class="d-flex pt-5 justify-content-evenly">
            <div>
                <div class="pt-3">_______________________________________</div>
                <div class="pt-3 ps-5"> <b> Consultor Comercial </b></div>
            </div>

            <div class="pt-3 pb-5 text-end">
                <div>___________________________________</div>
                <div><b> Assinatura e carimbo do cliente;</div></b>
                <div><b> Aceito tal proposta de venda!</div></b>
            </div>
        </div>

        <div class="p-4">
            <div> <b>J V T REINALDO AUTOMACAO E INTEGRACAO TECNOLOGICA – CNPJ 23.441.210/0001-10</b></div>
            AV Ailton Gomes de Alencar, 1087, Bairro Franciscanos - CEP: 63.020-005, Juazeiro do Norte-CE /
            Contatos:
            (88) 9 8829-8387 / (85) 9 9739-2442.
        </div>

        <div class="text-center">
            <button class="btn btn-primary center" id="printButton" onclick="saveDocument()">Imprimir</button>
        </div>
    </div>

    <script src="../js/getDate.js"></script>
    <script src="../js/communicateWithServer.js"></script>
    <script>
        const sessionData = JSON.parse(sessionStorage.getItem("data"));
        const clientData = sessionData.clientData;
        const itemsData = sessionData.itemsData;

        (function fillDocument() {
            fillClientFields();
            fillItemsTable();
            fillDateFields();
        })();

        function fillClientFields() {
            const nameElement = document.querySelector("#clientDataTable #name");
            const houseNumberElement = document.querySelector("#clientDataTable #houseNumber");
            const addressElement = document.querySelector("#clientDataTable #address");
            const cepElement = document.querySelector("#clientDataTable #cep");
            const cityElement = document.querySelector("#clientDataTable #city");
            const districtElement = document.querySelector("#clientDataTable #district");
            const telElement = document.querySelector("#clientDataTable #tel");
            const emailElement = document.querySelector("#clientDataTable #email");

            nameElement.innerText = clientData.name;
            houseNumberElement.innerText = clientData.houseNumber;
            addressElement.innerText = clientData.address;
            cepElement.innerText = clientData.cep;
            cityElement.innerText = clientData.city;
            districtElement.innerText = clientData.district;
            telElement.innerText = clientData.tel;
            emailElement.innerText = clientData.email;
        };

        function fillItemsTable() {
            const itemsTable = document.querySelector("#itemsTable tbody");
            itemsData.forEach(itemData => {
                itemsTable.appendChild(createItemElement(itemData));
            });
        };

        function fillDateFields() {
            const day = getCurrentDate().day;
            const month = getCurrentDate().month;
            const year = getCurrentDate().year;

            const dayElement = document.querySelector("#day");
            const monthElement = document.querySelector("#month");
            const yearElement = document.querySelector("#year");

            dayElement.textContent += day;
            monthElement.textContent += month;
            yearElement.textContent += year;
        };

        function createItemElement(itemData) {
            const rowElement = document.createElement("tr");
            const idElement = document.createElement("td");
            const descriptionElement = document.createElement("td");
            const amountElement = document.createElement("td");
            const unitPriceElement = document.createElement("td");
            const servicePriceElement = document.createElement("td");
            const totalPriceElement = document.createElement("td");

            idElement.innerText = itemData.id;
            descriptionElement.innerText = itemData.description;
            amountElement.innerText = itemData.amount;
            unitPriceElement.innerText = itemData.unitPrice + " R$";
            servicePriceElement.innerText = itemData.servicePrice + " R$";
            totalPriceElement.innerText = itemData.totalPrice + " R$";

            rowElement.appendChild(idElement);
            rowElement.appendChild(descriptionElement);
            rowElement.appendChild(amountElement);
            rowElement.appendChild(unitPriceElement);
            rowElement.appendChild(servicePriceElement);
            rowElement.appendChild(totalPriceElement);

            return rowElement;
        };

        function saveDocument() {
            document.querySelector("#printButton").style.display = "none";
            sendTransactionToServer(sessionStorage.getItem("data"));
            // window.print();
        };
    </script>
</body>

</html>