<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./images/Brix_logo.jpeg" type="image/x-icon">

    <!-- Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    <!-- Jquery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/indexStyle.css">
    <title>Pedidos</title>
</head>

<body>
    <div class="container-fluid p-5" id="mainContainer">
        <a type="button" class="btn btn-primary mb-5" href="/editTable">Adicionar Nova Tabela</a>

        <div class="overflow-auto mb-5" id="tableContainer">
            <table class="table table-striped-columns table-hover table-bordered" id="customTable"> </table>
        </div>

        <div>
            <h5>Itens selecionados</h5>
            <table class="table table-bordered visually-hidden" id="selectedItems">
                <thead>
                    <th>Quantidade</th>
                    <th>Alterar Quant.</th>
                    <th>Descrição</th>
                    <th>Preço Total</th>
                    <th>Preço Com Serviço</th>
                    <th>Deletar</th>
                </thead>
                <tbody></tbody>
            </table>
            <div id="noSelectedItem">Nenhum Item Selecionado.</div>
        </div>

        <form class="w-50 visually-hidden" id="form">
            <div class="mt-5 mb-5">
                <div class="pb-3" id="searchForClientNameContainer">
                    <div class="text-start"> Pesquisar Por Cliente </div>
                    <input type="text" class="form-control" id="searchForClient" autocomplete="new-password"></input>
                </div>
                <div class="btn btn-primary" onclick="document.getElementById('formContent').classList.remove('d-none')"> Adicionar Novo Cliente</div>
            </div>

            <table class="table table-borderless d-none" id="formContent">

                <tr>
                    <td> <label> Cliente: <span class="text-danger">*</span> </label></td>
                    <td><input class="w-100" type="text" id="name" required> </td>
                </tr>

                <tr>
                    <td> <label> Número: <span class="text-danger">*</span></label></td>
                    <td><input class="w-100" type="number" id="houseNumber" required></td>
                </tr>

                <tr>
                    <td> <label> Endereço: <span class="text-danger">*</span></label></td>
                    <td><input class="w-100" type="text" id="address" required></td>
                </tr>

                <tr>
                    <td> <label> Cidade: </label></td>
                    <td><input class="w-100" type="text" id="city"></td>
                </tr>

                <tr>
                    <td> <label> Cep: </label></td>
                    <td><input class="w-100" type="text" id="cep"></td>
                </tr>

                <tr>
                    <td> <label> Bairro: </label></td>
                    <td><input class="w-100" type="text" id="district"></td>
                </tr>

                <tr>
                    <td><label> Telefone: <span class="text-danger">*</span></label></td>
                    <td><input class="w-100" type="tel" id="tel" required></td>
                </tr>

                <tr>
                    <td><label> E-mail: </label></td>
                    <td><input class="w-100" type="email" id="email"></td>
                </tr>

                <tr>
                    <td><label> Observação </label></td>
                    <td><textarea class="w-100" id="observation" oninput="autoGrowObservationField(this)"></textarea></td>
                </tr>

                <tr>
                    <td> <label> Forma de Pagamento: </label></td>

                    <td id="paymentMethods">
                        <input type="radio" id="radioCashPayment" name="radioPayment" checked value="A vista">
                        <label>A vista</label>

                        <div class="dropdown d-flex">
                            <input type="radio" id="radioInstallmentPayment" name="radioPayment" value="Parcelado" data-installments="2" data-newTotalPrice="">
                            <label class="ps-1 pe-2">Parcelado</label>
                            <button class="btn btn-outline-primary dropdown-toggle visually-hidden" type="button" id="installmentPaymentDropdownToggle" data-bs-toggle="dropdown">2x</button>
                            <ul class="dropdown-menu text-center">
                                <li class="dropdown-item installment_dropdown_item">2x</li>
                                <li class="dropdown-item installment_dropdown_item">3x</li>
                                <li class="dropdown-item installment_dropdown_item">4x</li>
                                <li class="dropdown-item installment_dropdown_item">5x</li>
                                <li class="dropdown-item installment_dropdown_item">6x</li>
                                <li class="dropdown-item installment_dropdown_item">7x</li>
                                <li class="dropdown-item installment_dropdown_item">8x</li>
                                <li class="dropdown-item installment_dropdown_item">9x</li>
                                <li class="dropdown-item installment_dropdown_item">10x</li>
                                <li class="dropdown-item installment_dropdown_item">11x</li>
                                <li class="dropdown-item installment_dropdown_item">12x</li>
                            </ul>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td><label> Valor Total: </label></td>
                    <td><input class="w-100" type="text" id="formTotalPrice" value="0.00 R$" disabled></td>
                </tr>

                <tr class="visually-hidden" id="rowInstallmentPrice">
                    <td><label> Valor Parcelado: </label></td>
                    <td><input class="w-100" type="text" id="formInstallmentPrice" value="0.00 R$" disabled></td>
                </tr>

                <tr class="visually-hidden" id="rowFees">
                    <td><label> Juros: </label></td>
                    <td><input class="w-100" type="text" id="formFees" value="0.00 R$" disabled></td>
                </tr>

                <tr class="visually-hidden" id="rowFeesRate">
                    <td><label> Taxa de Juros: </label></td>
                    <td><input class="w-100" type="text" id="formFeesRate" value="0.00 %" disabled></td>
                </tr>

                <tr>
                    <td><label> Valor Final (R$): </label></td>
                    <td><input class="w-100" type="number" step=".01" min="0" id="formFinalPrice" value="0.00"></td>
                </tr>

                <tr class="d-flex mt-5">
                    <td>
                        <button type="submit" class="btn btn-success">Gerar Contrato</button>
                    </td>
                    <td>
                        <button type="reset" class="btn btn-danger" onclick="{
                            home.setDropdownVisibility(false);
                            setInstallmentPriceVisibility(false);
                            }">Apagar Campos </button>
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <div class="modal fade" id="selectItemModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Atenção</h5>
                    <button class="btn-close"></button>
                </div>

                <div class="modal-body">
                    Você Precisa Selecionar Pelo Menos Um Produto Para Prosseguir.
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ok</button>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="generatedContractModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Atenção</h5>
                    <button class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    Depois de salvo os dados selecionados serão permanentemente excluídos e uma nova tabela será
                    gerada. Deseja prosseguir?
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ok</button>
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal" onclick="goToPrintPage()">Imprimir</button>
                </div>
            </div>

        </div>
    </div>

    <div class="bg-dark w-100 h-100 position-absolute top-0 bg-opacity-50 d-flex justify-content-center align-items-center flex-column visually-hidden" id="loader-container">
        <div class="spinner-border text-primary fs-1" id="loader"></div>
        <div class="text-light pt-5 fs-2">Carregando Documento</div>
    </div>


    <iframe id="iframe" width="100%" height="100%"></iframe>
    <a id="contract" download="arquivo">baixar</a>
    <!-- <script type="module" src="./js/controller/home.js"></script>
    <script type="module" src="./js/model/selectedItem.js"></script>
    <script type="module" src="./js/model/selectedItems.js"></script>
    <script type="module" src="./js/controller/selectedItems.js"></script>
    <script type="module" src="./js/controller/table.js"></script>
    <script type="module" src="./js/controller/manualItems.js"></script>
    <script type="module" src="./js/communicateWithServer.js"></script>
    <script type="module" src="./js/getDate.js"></script> -->
    <script type="module">
        import Home  from "./js/controller/home.js";
        const home = new Home();
        
        home.writeTable();

        insertEventListenerInRadioPayment();
        insertEventListenerInDropdownItem();
        insertEventListenerInFormFinalPrice();


        function insertEventListenerInRadioPayment() {
            const radioCashPayment = document.getElementById("radioCashPayment");
            const radioInstallmentPayment = document.getElementById("radioInstallmentPayment");

            radioCashPayment.addEventListener("change", () => {
                home.setDropdownVisibility(false);
            });
            radioInstallmentPayment.addEventListener("change", e => {
                home.setDropdownVisibility(e.target.getAttribute('data-installments'))
            });
        };

        function insertEventListenerInDropdownItem() {
            [...document.getElementsByClassName("installment_dropdown_item")].
                forEach(dropdownItem => {
                    dropdownItem.addEventListener("click", e => {
                        home.updateInstallmentPayment(e.target.innerText);
                    });
                });
        };

        function insertEventListenerInFormFinalPrice() {
            const formFinalPrice = document.getElementById("formFinalPrice");
            formFinalPrice.addEventListener("input", e => {
                home.formFinalPriceListener(Number(e.target.value));
            });
        };
    </script>
</body>

</html>